<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechTalent</title>
    <link rel="stylesheet" href="/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    {{! Navigation bar }}
    <nav class="deep-purple darken-3" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">TechTalent</a>
        {{! navigation bar for non-mobile devices }}
        <ul class="right hide-on-med-and-down">
          {{#if loggedIn}}
            <li><a href="/">Home</a></li>
            <li><a href="/jobs">All Jobs</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a id="logout">Logout</a></li>
          {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
        {{! navigation bar for mobile devices }}
        <ul id="nav-mobile" class="sidenav">
          {{#if loggedIn}}
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a id="logout">Logout</a></li>
          {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
            class="material-icons"
          >menu</i></a>
      </div>
    </nav>

    <div class="container">
      <main>
        {{{body}}}
      </main>
      {{#if loggedIn}}
        <script src="/js/logout.js"></script>
      {{/if}}

    </div>
  </body>

  <footer class="page-footer deep-purple darken-3">
    <div class="container">
      <div class="row">
        © 2023 All rights reserved
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/sidebar.js"></script>
</html>