<container>
  <br>
  <nav>
    <div class="nav-wrapper #6a1b9a grey darken-3 white-text">
      {{!-- <a class="brand-logo">Filters</a> --}}
      <ul class="left">
          <li>
            <div class="input-field ">
              <input placeholder = "Type here" class = "searchResp">
              </select>
            </div>
          </li>
          <li>
            <a id="search-btn" class="waves-effect waves-light btn grey">Search</a>
          </li>
      </ul>
      <ul class="right">
          {{!-- <li>
            <div class="input-field ">
              <select class = "employment-type-dropdown">
                <option value="full time" selected >Full Time</option>
                <option value="contract">Contract</option>
                <option value="part time">Part Time</option>
              </select>
            </div>
          </li> --}}
          <li>
            <div class="switch">
              <label>
                Full Time
                <input type="checkbox" class="employment-switch">
                <span class="lever"></span>
                Contract
              </label>
            </div>
          </li>
          <li><a> </a></li>
          <li>
            <div class="switch">
              <label>
                Office
                <input type="checkbox" class = "remote-switch">
                <span class="lever"></span>
                Remote
              </label>
            </div>
          </li>
          <li>
            <a id="apply-btn" class="waves-effect waves-light btn grey">Apply</a>
          </li>
          <li>
            <a id="restore-btn" class="waves-effect waves-light btn grey">Restore All</a>
          </li>
      </ul>
    </div>
  </nav>
  <h4>Job listings</h4>
{{!-- Lee to work here and add cards and pages --}}
  <div class = "row">
    {{#each data.results as |job|}}
      <div class = "col s12 m6 l4"> 
        <div class='card grey lighten-5'>
            <div class="card-content">
                <span class="card-title">{{job.role}}</span>
                <p>Company: {{job.company_name}}</p>
                <p>Posted on: {{format_date job.date_posted}}</p>
            </div>
            <div class="card-action grey lighten-4">
              <a href="/job/{{job.id}}" class="grey-text text-darken-4">Go to job page</a>
            </div>
        </div>
      </div>
    {{/each}}
  </div>
</container>

<script src="/js/alljobs.js"></script>