{{!-- view to display all job listings on homepage --}}

{{!-- Susan to remove and replace --}}

<h1>TechTalent</h1>

<main>
<div id="index-banner" class="techtalent-container">
    <div class="section no-pad-bot">
        <class="containter">
            <br>
            <br>

        </div>
    </div>
<div class="tech-talent">
    <img src="benefits-of-coding.jpg" alt="man coding on computer" style="transform: translate3d(-50%, 260.843px, 0px); opacity: 1;"/>
</div>
</div>
<div class="col s12">
    <span>Hello {{firstName}}!</span>
</div>
    <div class="card medium">
        <span class="search-all-jobs">Search All Jobs</span>
         <p></p>
     </div>
    <div class="card medium">
        <span class="create-account">Create Account</span>
    </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>
            </div>
        </div>
</main>
<div class="footer-copyright">
    <div class="container">
        © 2023 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</div>
</footer>