{{!-- view to display all job listings on homepage --}}

{{!-- Susan to remove and replace --}}

<h1>TechTalent</h1>

<main>
<div class="col s12">
    <span>Hello {{firstName}}!</span>
</div>
    <section id="Search All Jobs"></section>
    <section id="Create Account"></section>
    
        <div>
            <a href="#search-all-jobs"><button>About</button></a>
            <a href="create account"><button>Work</button></a>
            
        </div>
</main>