<h4>Job details</h4>
{{#each data.results}} //added - 'data' is the variable that holds the API response containing the job details
<div class="card">
    <div class="card-content">
        <span class="card-title"> {{data.role}}</span>
        <p> Company: {{this.company_name}}</p>
        <p> Posted on: {{format_date data.date_posted}}</p>
        <p>Job details:</p>
        <div>
        {{{this.text}}}
        </div>
    </div>
</div>
{{/each}}
//the each block will iterate over the data.results array