{{!-- login and signup view --}}
{{!-- Casey work here --}}
<container>
        <div class="row">
            <form class="password-change-form">
                <div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    <label for="email-pwd">Email</label>
                    <input class="form-input" type="text" id="email-pwd" />
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    <label for="password-pwd">Password</label>
                    <input class="form-input" type="password" id="password-pwd" />
                </div>
                <div class="row input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <label for="new-password">New Password</label>
                    <input class="form-input" type="text" id="new-password" />
                </div>
                <div class="row input-field col s6">
                    <button class="btn purple darken-1 waves-effect waves-light red" type="submit">Update</button>
                </div>
            </form>
        </div>
</container>




<script src="./js/updatepassword.js"></script>