{{!-- login and signup view --}}
{{!-- Casey work here --}}
<container>
        
    <form class="password-change-form">
        <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <label for="email-pwd">Email</label>
            <input class="form-input" type="text" id="email-pwd" />
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <label for="password-pwd">Password</label>
            <input class="form-input" type="password" id="password-pwd" />
        </div>
        <div class="row input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <label for="new-password">New Password</label>
            <input class="form-input" type="password" id="new-password" />
        </div>
        </div>
        <div class="row input-field col s6">
            <button class="btn deep-purple darken-1 waves-effect waves-light red" type="submit">Update</button>
        </div>
    </form>

</container>




<script src="./js/updatepassword.js"></script>