<h5>Useful Resources</h5>
<br>

<div class="row">

      <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><h4>How to Guides:</h4></li>
            <li class="collection-item"><div>How To Get a Software Engineer Job in 8 Steps (Indeed)<a href="https://www.indeed.com/career-advice/finding-a-job/how-to-get-software-engineer-job" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
        <div class="collection">
            <a href="https://www.indeed.com/career-advice/finding-a-job/how-to-get-software-engineer-job" class="collection-item deep-purple-text">How To Get a Software Engineer Job in 8 Steps (Indeed)</a>
            <a href="https://www.glassdoor.com/blog/guide/how-to-get-a-job-as-a-software-engineer/" class="collection-item deep-purple-text">How to Get a Job as a Software Engineer (Glassdoor)</a>
            <a href="https://bootcamp.cvn.columbia.edu/blog/how-to-become-software-engineer-from-scratch/" class="collection-item deep-purple-text">How to Become a Software Engineer: A Guide for Those Starting From Scratch (Columbia Engineering)</a>
            <a href="https://medium.com/swlh/how-to-land-your-first-job-as-a-software-engineer-d37c0b94f8a0" class="collection-item deep-purple-text">How to Land Your First Job as a Software Engineer (Medium)</a>
        </div>
      </div>
      <div class="col s12"><span class="flow-text">Improve your Skills:</span>
        <div class="collection">
            <a href="https://www.edx.org/learn/software-development" class="collection-item deep-purple-text">edX</a>
            <a href="https://www.coursera.org/browse/computer-science/software-development" class="collection-item deep-purple-text">Coursera</a>
            <a href="https://www.linkedin.com/learning/paths/become-a-software-developer" class="collection-item deep-purple-text">LinkedIn Learning</a>
            <a href="https://bootcamp.cvn.columbia.edu/coding/" class="collection-item deep-purple-text">Columbia Engineering Coding Boot Camp</a>
        </div>
      </div>

    </div>
