<h5>Visit these sites for useful resources on landing a software developer job:</h5>

<div class="row">

      <div class="col s4">
        <div class="collection">
            <a href="https://www.indeed.com/career-advice/finding-a-job/how-to-get-software-engineer-job" class="collection-item deep-purple-text">Indeed Guide to Software Engineering Jobs</a>
            <a href="#!" class="collection-item deep-purple-text">Alvin</a>
            <a href="#!" class="collection-item deep-purple-text">Alvin</a>
            <a href="#!" class="collection-item deep-purple-text">Alvin</a>
        </div>
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
