body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.collapsed-text {
    max-height: 100px;
    overflow: hidden;
}

.expand-link {
    display: none;
}

.expand-link.show {
    display: block;
}
#page-container {
    position: relative;
    min-height: 45vh;
}

#content-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    /* Footer height */
}

.footer {
    width: 100%;
    padding: 20px;
    flex-shrink: 0;
    margin-top: auto;
    /* Footer height */
}
