body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title-text {
    font-family: 'Inconsolata', monospace;
}

.collapsed-text {
    max-height: 100px;
    overflow: hidden;
}

.expand-link {
    display: none;
}

.expand-link.show {
    display: block;
}
#page-container {
    position: relative;
    min-height: 45vh;
}

#content-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    /* Footer height */
}

.footer {
    width: 100%;
    padding: 20px;
    flex-shrink: 0;
    margin-top: auto;
    /* Footer height */
}

.flow-text {
    font-size: 20px;
}

/* .switchclass {
    padding-right: 1%;
} */

/* .right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */

.jobscards {
    height: 10em;
}

.iris {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.iris::before {
    content: "";
    background-image: url("../assests/search-jobs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

[type="checkbox"].filled-in.tabbed:checked:focus+span:not(.lever):after {
    border-radius: 2px;
    background-color: #692ca6;
    border-color: #692ca6;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #692ca6;
    background-color: #692ca6;
    z-index: 0;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #692ca6;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #ede7f6;
}