body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.collapsed-text {
    max-height: 100px;
    overflow: hidden;
}

.expand-link {
    display: none;
}

.expand-link.show {
    display: block;
}
